<mat-card>
    <mat-card-header>
        <mat-card-subtitle>
            Aplicação desenvolvida para:
        </mat-card-subtitle>

        <mat-card-title>
            Suíte de Ordenação LAA    
        </mat-card-title>

        <mat-card-subtitle>
            Algoritmo principal: InterpolationSort
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-header>
        <mat-card-subtitle>
            Alunos:
        </mat-card-subtitle>

        <mat-card-title>
            Kledyson Goes
        </mat-card-title>

    </mat-card-header>

    <mat-card-header>
        <button mat-button>
            <a href="https://github.com/Khgds1" target="_blank">Github</a>
        </button>
    </mat-card-header>
</mat-card>