<br>
<mat-card class="header">
    <mat-card-title class="text">
        Suíte de Ordenação LAA - InterpolationSort
    </mat-card-title>
</mat-card>

<mat-card class="card1" a routerLink="../ordenacao">
    <img src="../../../assets/icons/menu/change.png" class="icon">
    <br><br>
    <mat-card-title>
        Ordenação
    </mat-card-title>
</mat-card>

<mat-card class="card2" a routerLink="../busca">
    <img src="../../../assets/icons/menu/loupe.png" class="icon">
    <br><br>
    <mat-card-title>
        Busca
    </mat-card-title>
</mat-card>

<mat-card class="card2" a routerLink="../complexidade">
    <img src="../../../assets/icons/menu/data-complexity.png" class="icon">
    <br><br>
    <mat-card-title>
        Complexidade
    </mat-card-title>
</mat-card>