.icon {
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}
.card {
    margin-left: 20px;
    margin-right: 10px;
    width: 200px;
    float: left;
    background-color: #673AB7;
    color: white;
    text-align: center;
}
.text {
    color: white;
}

.initial-card{
    width: 800px;
}

.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}