<mat-card class="initial-card">
    <mat-card-title>Ordenação</mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Valores</mat-label>
            <input matInput id="listaSort" placeholder="Ex: 1,5,6,8,">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" onclick="runSort()">Ordenar</button>
    </mat-card-content>
</mat-card>

<!-- InsertionSort -->
<mat-card class="card">
    <!-- <img src="../../../assets/pictures/chocolate-quente.png" class="icon"> -->
    <mat-card-title class="title">InsertionSort</mat-card-title>
    <mat-card-subtitle id="insertionSort" class="text">
        Aperte o botão para Ordenar :))
    </mat-card-subtitle>
</mat-card>

<!-- BubbleSort -->
<mat-card class="card">
    <!-- <img src="../../../assets/pictures/chocolate-quente.png" class="icon"> -->
    <mat-card-title class="title">BubbleSort</mat-card-title>
    <mat-card-subtitle id="bubbleSort" class="text">
        Aperte o botão para Ordenar :))
    </mat-card-subtitle>
</mat-card>

<!-- SelectionSort -->
<mat-card class="card">
    <!-- <img src="../../../assets/pictures/chocolate-quente.png" class="icon"> -->
    <mat-card-title>SelectionSort</mat-card-title>
    <mat-card-subtitle id="selectionSort" class="text">
        Aperte o botão para Ordenar :))
    </mat-card-subtitle>
</mat-card>

<!-- InterpolationSort -->
<mat-card class="card">
    <!-- <img src="../../../assets/pictures/chocolate-quente.png" class="icon"> -->
    <mat-card-title>InterpolationSort</mat-card-title>
    <mat-card-subtitle id="interpolationSort" class="text">
        Aperte o botão para Ordenar :))
    </mat-card-subtitle>
</mat-card>
