<mat-toolbar color="primary">
  <!-- <button mat-button a routerLink="menu">
    Menu
  </button> -->
  <button mat-button a routerLink="ordenacao">
    <h1><span class="material-icons">low_priority</span>Ordenação</h1>
  </button>

  <button mat-button a routerLink="busca">
    <h1><span class="material-icons">search</span>Busca</h1>
  </button>

  <button mat-button a routerLink="complexidade">
    <h1><span class="material-icons">calculate</span>Complexidade</h1>
  </button>

  <button mat-button a routerLink="sobre">
    <h1><span class="material-icons">insert_emoticon</span>Sobre</h1>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>