<div class="div">
    <mat-card class="initial-card">
        <mat-card-title>Busca</mat-card-title>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Valores</mat-label>
                <input matInput id="listaSearch" placeholder="Ex: 1,5,6,8,8">
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Valor a ser localizado</mat-label>
                <input matInput id="valorSearch" placeholder="Ex: 5">
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary" onclick="runSearch()">Procurar</button>
        </mat-card-content>
    </mat-card>
</div>

<!-- LinearSearch -->
<div class="div">
    <mat-card class="card">
        <mat-card-title>Linear</mat-card-title>
        <mat-card-subtitle id="linearSearch" class="text">
            Aperte o botão para Buscar :))
        </mat-card-subtitle>
    </mat-card>
</div>