<mat-card class="initial-card">
    <mat-card-title>Busca</mat-card-title>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Valores</mat-label>
            <input matInput id="listaSort" placeholder="Ex: 1,5,6,8,">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Valor a ser localizado</mat-label>
            <input matInput id="listaSearch" placeholder="Ex: 1,5,6,8,">
        </mat-form-field>
        <br>
        <button mat-raised-button color="primary" onclick="runSearch()">Buscar</button>
    </mat-card-content>
</mat-card>